<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Librawry</title>
	<style>
		body { color: #657b83; background-color: #fdf6e3; }
		a, a:active, a:link, a:visited, a:hover { color: #268bd2; }
		code { color: #d33682; }
		code > small { background-color: #eee8d5; }
		h1, h2 { color: #586e75; }
	</style>
</head>
<body>

	<form action="/Search" method="GET" autocomplete="off">
		<input class="input" type="text" name="query" placeholder="Search" autofocus="true">
		<input type="submit" value="Find">
	</form>

	@RenderBody()
</body>
</html>
