@page
@model SearchModel

<ul>
@foreach (var item in @Model.SearchResult)
{
	<li>
		<a href="/Details?id=@item.Id">@item.Name</a>
		<br>
		<code>
		@foreach (var tag in item.TagRefs.Select(x => x.Tag.Name).OrderBy(x => x))
		{
			<small>@tag</small>
		}
		</code>
	</li>
	<br>
}
</ul>
